.modal--search-lyric-container {
  width: 600px;
  max-height: 540px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  & .search-lyric-header-left {
    display: flex;
    align-items: center;
    gap: 12px;
    flex: 1;
    min-width: 0;

    & .search-lyric-input-container {
      flex: 1;
      position: relative;
      min-width: 0;

      & .search-lyric-input {
        width: 100%;
        padding-right: 26px;
      }

      & .search-lyric-search {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 6px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        & svg {
          width: 1.1rem;
          height: 1.1rem;
        }
      }
    }

    & .load-local-lyric-btn {
      display: flex;
      align-items: center;
      gap: 4px;
      white-space: nowrap;
      font-size: 0.9rem;
      flex-shrink: 0;

      & svg {
        width: 1rem;
        height: 1rem;
      }
    }
  }

  & .tab-list-container {
    padding: 0 12px;
    overflow-x: auto;
  }

  & .tab-panels-container {
    & .tab-panel-container {
      height: 320px;
    }
  }
}
