.music-download-base {
  display: flex;
  align-items: center;
  justify-content: center;
}

.music-downloaded {
  color: var(--successColor, #08a34c);
}

.music-local-match {
  color: var(--successColor, #08a34c);
}

.music-can-download {
  opacity: 0.6;

  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}
